name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  license_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check licenses

  run_cargo_checks:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libudev-dev
      - uses: actions/checkout@v4
      - name: Rust install nightly
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: Rustup install clippy
        run: rustup component add clippy
      - name: Run Cargo fmt
        run: cargo +nightly fmt --all -- --check
      - name: Run Cargo clippy
        run: cargo clippy --all-targets
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: surfpool
          POSTGRES_PASSWORD: surfpool
          POSTGRES_DB: surfpool_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libudev-dev clang libclang-dev
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --features postgres
      - name: Run tests
        env:
          SURFPOOL_TEST_POSTGRES_URL: postgresql://surfpool:surfpool@localhost:5432/surfpool_test
        run: cargo test --all --verbose --features "postgres,ignore_tests_ci"
